<!DOCTYPE HTML>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>anyz.me | {% block title %}link shrink{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="https://s3-us-west-1.amazonaws.com/link-shrink/grid.css">
	<link rel="stylesheet" type="text/css" href="https://s3-us-west-1.amazonaws.com/link-shrink/style.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i" rel="stylesheet">
</head>

<body>
	<section class="section-main">
		<div class="row site-content-box">
			{% block content %}
			{% endblock content %}
		</div>
	</section>
	<section class="section-footer">
		<div class="row footer-row">
			<a href="http://anyz.me/gitlink"><i class="devicon-github-plain"></i></a>
		</div>
	</section>
</body>
</html>